@import './mixins/reset';
@import './mixins/utilities';
@import './components/countdown';

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

body {
  background-color: $primary-color;
  font-family: $font-family;
}

.wrapper {
  width: $max-width;
  padding-right: 137px;
  padding-left: 137px;
  margin: 0 auto;
}

.header {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: $secondary-color;
}