$primary-color: #0A3125;
$primary-dark-color: #061F17;
$secondary-color: #CACEAC;
$secondary-dark-color: #81846E;
$mute-color: #407061;

$max-width: 1280px;
$font-family: 'Arimo', 'Microsoft JhengHei', sans-serif;